<!-- FOOTER -->
<footer>
    
    <!-- Footer -->
    <!--Footer-->
    <footer class="page-footer unique-color-dark pt-0">

        <!-- SOCIAL BUTTONS -->
        <div class="primary-color">

            <!-- CONTAINER STARTS -->
            <div class="container">

                <!-- ROW STARTS -->
                <div class="row py-4 d-flex align-items-center">

                    <!-- COL STARTS -->
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                        <h6 class="mb-0 white-text">Get connected with us on social networks!</h6>
                    </div>
                    <!-- COL ENDS -->

                    <!-- COL STARTS -->
                    <div class="col-md-6 col-lg-7 text-center text-md-right">
                        <!-- Facebook -->
                        <a class="fb-ic ml-0">
                            <i class="fa fa-facebook white-text mr-4"></i>
                        </a>

                        <!-- Facebook -->
                        <a class="tw-ic ml-0">
                            <i class="fa fa-twitter white-text mr-4"></i>
                        </a>

                        <!-- Facebook -->
                        <a class="gplus-ic ml-0">
                            <i class="fa fa-google-plus white-text mr-4"></i>
                        </a>

                        <!-- Facebook -->
                        <a class="li-ic ml-0">
                            <i class="fa fa-linkedin white-text mr-4"></i>
                        </a>

                        <!-- Facebook -->
                        <a class="ins-ic ml-0">
                            <i class="fa fa-instagram white-text mr-4"></i>
                        </a>

                        <!-- Github -->
                        <a class="ins-ic ml-0" href="https://github.com/Alexmhack">
                            <i class="fa fa-github white-text mr-4"></i>
                        </a>
                    </div>
                    <!-- COL ENDS -->

                </div>
                <!-- ROW ENDS -->

            </div>
            <!-- CONTAINER ENDS -->

        </div>

        <!--Footer Links-->
        <div class="container text-center mt-5 mb-4 text-md-left">

            <!-- ROW STARTS -->
            <div class="row mt-3">

                <!-- COL STARTS -->
                <div class="col-lg-4 col-md-3 col-xl-3 mb-4">

                    <h6 class="font-weight-bold text-uppercase">Django Blog</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>Blog website with tutorials on every programming language from Python to C++ and you can also be a part of our blog by writing on our behalf.</p>

                </div>
                <!-- COL ENDS -->

                <!-- COL STARTS -->
                <div class="col-lg-2 col-md-2 col-xl-2 mb-4 mx-auto">

                    <h6 class="font-weight-bold text-uppercase"><strong>Products</strong></h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="#!">Django Membership</a>
                    </p>

                    <p>
                        <a href="#!">Django Pro Tutorials</a>
                    </p>

                    <p>
                        <a href="#!">Django Github Projects</a>
                    </p>

                    <p>
                        <a href="#!">Django Delpoying</a>
                    </p>

                </div>
                <!-- COL ENDS -->

                <!-- COL STARTS -->
                <div class="col-lg-2 col-md-3 col-xl-2 mb-4 mx-auto">

                    <h6 class="font-weight-bold text-uppercase"><strong>Useful Links</strong></h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="#!">Your account</a>
                    </p>

                    <p>
                        <a href="#!">Become an Affiliate</a>
                    </p>

                    <p>
                        <a href="#!">Shipping Rates</a>
                    </p>

                    <p>
                        <a href="#!">Help</a>
                    </p>

                </div>
                <!-- COL ENDS -->

                <div class="col-lg-3 col-md-4 col-xl-3">

                    <h6 class="font-weight-bold text-uppercase">Contact</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

                    <p><i class="fa fa-home mr-3"></i>Mumbai, MH 400047</p>
                    <p><i class="fa fa-envelope mr-3"></i>info@example.com</p>
                    <p><i class="fa fa-phone mr-3"></i>+91 1234567890</p>
                    <p><i class="fa fa-print mr-3"></i>+91 1234567890</p>

                </div>

            </div>
            <!-- ROW ENDS -->

        </div>
        <!--/.Footer Links-->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->

</footer>
<!-- FOOTER ENDS -->