<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark secondary-color">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">
        <i id="icon" class="fa fa-connectdevelop" style="text-shadow: 0px 0px rgb(48,117,165), 1px 1px rgb(50,123,173), 2px 2px rgb(53,129,182), 3px 3px rgb(55,136,191), 4px 4px rgb(58,142,200), 5px 5px rgb(60,148,209), 6px 6px rgb(63,154,217), 7px 7px rgb(65,161,226); font-size: 37px; color: rgb(255, 255, 255); height: 50px; width: 50px; line-height: 50px; border-radius: ; text-align: center; background-color: rgb(68, 167, 235);"></i> 
    </a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Left Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link black-text bold" href="{% url 'blog-list' %}">Django Blog
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>

        </ul>
        <!-- Links -->
        
        <!-- Right links -->
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <!-- Search Form -->
            <form class="form-inline">
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </div>
            </form>
            <!-- /Search Form -->
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light">1
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>
                <li class="nav-item avatar dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-4" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown">
                                    <i class="fa fa-user"></i> Profile </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-5">
                        <a class="dropdown-item waves-effect waves-light" href="#">Action</a>
                        <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>
                        <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>
                    </div>
                </li>
            {% else %}
                <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" onclick="location.href=
                type="submit">Login</button>
            {% endif %}
        </ul>
        <!-- /Right Links -->

    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar -->